In [78]:
import numpy as np
import pandas as pd

In [2]:
students_data = [
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,50,2]
]
pd.DataFrame(students_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

## Using a dictionary

In [3]:
students_dict = {
    'iq' : [100,90,120,80],
    'marks':[80,70,100,50],
    'package': [10,7,14,2]
}
pd.DataFrame(students_dict)

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [4]:
students = pd.DataFrame(students_dict)

In [5]:
students

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [6]:
pd.read_csv('movies.csv')

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [7]:
movies = pd.read_csv('movies.csv')

In [8]:
movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [9]:
ipl = pd.read_csv('ipl-matches.csv')

In [10]:
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [11]:
ipl.sample(10)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
697,548310,Bangalore,2012-04-07,2012,5,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Delhi Daredevils,field,N,Royal Challengers Bangalore,Runs,20.0,NaN,AB de Villiers,"['AB McDonald', 'CA Pujara', 'V Kohli', 'AB de...","['AJ Finch', 'V Sehwag', 'NV Ojha', 'Y Venugop...",S Asnani,S Ravi
679,548321,Delhi,2012-04-19,2012,23,Delhi Daredevils,Deccan Chargers,Feroz Shah Kotla,Deccan Chargers,bat,N,Delhi Daredevils,Wickets,5.0,NaN,KP Pietersen,"['NV Ojha', 'V Sehwag', 'KP Pietersen', 'DPMD ...","['KC Sangakkara', 'S Dhawan', 'PA Patel', 'DT ...",BF Bowden,SK Tarapore
408,980949,Pune,2016-04-29,2016,25,Rising Pune Supergiants,Gujarat Lions,Maharashtra Cricket Association Stadium,Gujarat Lions,field,N,Gujarat Lions,Wickets,3.0,NaN,DR Smith,"['AM Rahane', 'SS Tiwary', 'SPD Smith', 'MS Dh...","['DR Smith', 'BB McCullum', 'SK Raina', 'KD Ka...",CB Gaffaney,BNJ Oxenford
401,980963,Kolkata,2016-05-04,2016,32,Kolkata Knight Riders,Kings XI Punjab,Eden Gardens,Kings XI Punjab,field,N,Kolkata Knight Riders,Runs,7.0,NaN,AD Russell,"['RV Uthappa', 'G Gambhir', 'YK Pathan', 'AD R...","['M Vijay', 'MP Stoinis', 'M Vohra', 'WP Saha'...",AK Chaudhary,HDPK Dharmasena
803,419137,Chennai,2010-04-03,2009/10,32,Chennai Super Kings,Rajasthan Royals,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,23.0,NaN,M Vijay,"['M Vijay', 'ML Hayden', 'SK Raina', 'JA Morke...","['MJ Lumb', 'NV Ojha', 'YK Pathan', 'SR Watson...",RE Koertzen,RB Tiffin
116,1254075,Mumbai,2021-04-24,2021,18,Kolkata Knight Riders,Rajasthan Royals,"Wankhede Stadium, Mumbai",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,6.0,NaN,CH Morris,"['N Rana', 'Shubman Gill', 'RA Tripathi', 'SP ...","['JC Buttler', 'YBK Jaiswal', 'SV Samson', 'S ...",Navdeep Singh,S Ravi
864,392210,Durban,2009-05-05,2009,30,Kings XI Punjab,Rajasthan Royals,Kingsmead,Kings XI Punjab,field,N,Rajasthan Royals,Runs,78.0,NaN,GC Smith,"['S Sohal', 'KC Sangakkara', 'K Goel', 'SM Kat...","['NV Ojha', 'GC Smith', 'YK Pathan', 'RA Jadej...",SS Hazare,IL Howell
789,419151,Nagpur,2010-04-12,2009/10,46,Deccan Chargers,Royal Challengers Bangalore,"Vidarbha Cricket Association Stadium, Jamtha",Royal Challengers Bangalore,field,N,Deccan Chargers,Runs,13.0,NaN,Harmeet Singh,"['HH Gibbs', 'AC Gilchrist', 'TL Suman', 'RG S...","['MK Pandey', 'JH Kallis', 'R Dravid', 'RV Uth...",RE Koertzen,RB Tiffin
804,419136,Chandigarh,2010-04-02,2009/10,31,Kings XI Punjab,Royal Challengers Bangalore,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,bat,N,Royal Challengers Bangalore,Wickets,6.0,NaN,KP Pietersen,"['SE Marsh', 'MS Bisla', 'KC Sangakkara', 'RS ...","['MK Pandey', 'JH Kallis', 'KP Pietersen', 'V ...",BF Bowden,M Erasmus
90,1254091,Sharjah,2021-09-30,2021,44,Sunrisers Hyderabad,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,6.0,NaN,JR Hazlewood,"['JJ Roy', 'WP Saha', 'KS Williamson', 'PK Gar...","['RD Gaikwad', 'F du Plessis', 'MM Ali', 'SK R...",Nitin Menon,YC Barde

In [12]:
movies.shape

(1629, 18)

In [13]:
ipl.shape

(950, 20)

In [14]:
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

to find out index

In [15]:
movies.index

RangeIndex(start=0, stop=1629, step=1)

In [16]:
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [17]:
students.values

array([[100,  80,  10],
       [ 90,  70,   7],
       [120, 100,  14],
       [ 80,  50,   2]])

In [18]:
movies.values

array([['Uri: The Surgical Strike', 'tt8291224',
        'https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/URI_-_New_poster.jpg/220px-URI_-_New_poster.jpg',
        ...,
        'Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Gautam|Kirti Kulhari|Rajit Kapoor|Ivan Rodrigues|Manasi Parekh|Swaroop Sampat|Riva Arora|Yogesh Soman|Fareed Ahmed|Akashdeep Arora|Kallol Banerjee|',
        '4 wins', '11 January 2019 (USA)'],
       ['Battalion 609', 'tt9472208', nan, ...,
        'Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elena Kazan|Vishwas Kini|Major Kishore|Jashn Kohli|Rammy C. Pandey|Manish Sharma|Sparsh Sharma|Farnaz Shetty|Vikas Shrivastav|Chandraprakash Thakur|Brajesh Tiwari|',
        nan, '11 January 2019 (India)'],
       ['The Accidental Prime Minister (film)', 'tt6986710',
        'https://upload.wikimedia.org/wikipedia/en/thumb/a/a1/The_Accidental_Prime_Minister_film.jpg/220px-The_Accidental_Prime_Minister_film.jpg',
        ...,
        'Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul Sharma|Manoj Anand|Arjun Mathur|Suzanne Bernert|Abdul Quadir Amin|Bharat Mistri|Divya Seth|Anil Rastogi|Ramesh Bhatkar|Parrgash Kaur|Jess Kaur|',
        nan, '11 January 2019 (USA)'],
       ...,
       ['Sabse Bada Sukh', 'tt0069204', nan, ...,
        'Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpal Dutt|Meeta Faiyyaz|Rabi Ghosh|Tarun Ghosh|Sanjeev Kumar|Keshto Mukherjee|Meena Rai|',
        nan, nan],
       ['Daaka', 'tt10833860',
        'https://upload.wikimedia.org/wikipedia/en/thumb/4/45/Daaka.jpg/220px-Daaka.jpg',
        ..., 'Gippy Grewal|Zareen Khan|', nan, '1 November 2019 (USA)'],
       ['Humsafar', 'tt2403201',
        'https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png',
        ..., 'Fawad Khan|', nan, 'TV Series (2011–2012)']], dtype=object)

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [20]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [21]:
movies.describe()

       is_adult  year_of_release  imdb_rating     imdb_votes
count    1629.0      1629.000000  1629.000000    1629.000000
mean        0.0      2010.263966     5.557459    5384.263352
std         0.0         5.381542     1.567609   14552.103231
min         0.0      2001.000000     0.000000       0.000000
25%         0.0      2005.000000     4.400000     233.000000
50%         0.0      2011.000000     5.600000    1000.000000
75%         0.0      2015.000000     6.800000    4287.000000
max         0.0      2019.000000     9.400000  310481.000000

In [22]:
ipl.isnull()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
946,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
947,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
948,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
949,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [23]:
movies.isnull().sum()

title_x                0
imdb_id                0
poster_path          103
wiki_link              0
title_y                0
original_title         0
is_adult               0
year_of_release        0
runtime                0
genres                 0
imdb_rating            0
imdb_votes             0
story                 20
summary                0
tagline             1072
actors                 5
wins_nominations     922
release_date         107
dtype: int64

In [24]:
movies.sample(20).isnull()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
682,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
991,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1619,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
814,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1267,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1411,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1383,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1525,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
1175,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
609,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
591,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
759,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
734,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1511,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False
826,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
1477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
742,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
128,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False

In [25]:
movies.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1624    False
1625    False
1626    False
1627    False
1628    False
Length: 1629, dtype: bool

In [26]:
movies.duplicated().sum()

0

In [27]:
students_dict

{'iq': [100, 90, 120, 80],
 'marks': [80, 70, 100, 50],
 'package': [10, 7, 14, 2]}

In [28]:
students_dict = {
    'iq' : [100,90,120,80,0,0],
    'marks':[80,70,100,50,0,0],
    'package': [10,7,14,2,0,0]
}

In [29]:
students_dict = pd.DataFrame(students_dict)

In [30]:
students_dict

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2
4    0      0        0
5    0      0        0

In [31]:
students_dict.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [32]:
students_dict.duplicated().sum()

1

In [33]:
students

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [34]:
students.rename(columns={'marks':'score','package':'lpa'})

    iq  score  lpa
0  100     80   10
1   90     70    7
2  120    100   14
3   80     50    2

In [35]:
students

    iq  marks  package
0  100     80       10
1   90     70        7
2  120    100       14
3   80     50        2

In [36]:
students.rename(columns={'marks':'score','package':'lpa'},inplace=True)

In [37]:
students

    iq  score  lpa
0  100     80   10
1   90     70    7
2  120    100   14
3   80     50    2

In [38]:
students.sum()

iq       390
score    300
lpa       33
dtype: int64

In [39]:
students.sum(axis=1)

0    190
1    167
2    234
3    132
dtype: int64

In [40]:
students.max(axis=1)

0    100
1     90
2    120
3     80
dtype: int64

In [41]:
students.describe()

               iq      score        lpa
count    4.000000    4.00000   4.000000
mean    97.500000   75.00000   8.250000
std     17.078251   20.81666   5.057997
min     80.000000   50.00000   2.000000
25%     87.500000   65.00000   5.750000
50%     95.000000   75.00000   8.500000
75%    105.000000   85.00000  11.000000
max    120.000000  100.00000  14.000000

In [42]:
movies['imdb_votes']

0       35112
1          73
2        5549
3        1891
4         280
        ...
1624      278
1625      133
1626       13
1627       38
1628     2968
Name: imdb_votes, Length: 1629, dtype: int64

In [43]:
ipl['Venue']

0                Narendra Modi Stadium, Ahmedabad
1                Narendra Modi Stadium, Ahmedabad
2                           Eden Gardens, Kolkata
3                           Eden Gardens, Kolkata
4                        Wankhede Stadium, Mumbai
                          ...
945                                  Eden Gardens
946                              Wankhede Stadium
947                              Feroz Shah Kotla
948    Punjab Cricket Association Stadium, Mohali
949                         M Chinnaswamy Stadium
Name: Venue, Length: 950, dtype: object

In [44]:
ipl.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [45]:
ipl[['City','Team1','Team2','WinningTeam','Player_of_Match']]

,City,Team1,Team2,WinningTeam,Player_of_Match
0,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,HH Pandya
1,Ahmedabad,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,JC Buttler
2,Kolkata,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore,RM Patidar
3,Kolkata,Rajasthan Royals,Gujarat Titans,Gujarat Titans,DA Miller
4,Mumbai,Sunrisers Hyderabad,Punjab Kings,Punjab Kings,Harpreet Brar
...,...,...,...,...,...
945,Kolkata,Kolkata Knight Riders,Deccan Chargers,Kolkata Knight Riders,DJ Hussey
946,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,MV Boucher
947,Delhi,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,MF Maharoof
948,Chandigarh,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,MEK Hussey
949,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,BB McCullum

In [46]:
movies.iloc[0]

title_x                                      Uri: The Surgical Strike
imdb_id                                                     tt8291224
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/Uri:_The_Surgica...
title_y                                      Uri: The Surgical Strike
original_title                               Uri: The Surgical Strike
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           138
genres                                               Action|Drama|War
imdb_rating                                                       8.4
imdb_votes                                                      35112
story               Divided over five chapters  the film chronicle...
summary             Indian army special forces execute a covert op...
tagline                                                           NaN
actors              Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
wins_nominations                                               4 wins
release_date                                    11 January 2019 (USA)
Name: 0, dtype: object

In [47]:
type(movies.iloc[0])

pandas.core.series.Series

In [48]:
movies.iloc[0:5]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [49]:
type(movies.iloc[0:5])

pandas.core.frame.DataFrame

In [50]:
movies.iloc[0:100:15]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
15,Badla (2019 film),tt8130968,https://upload.wikimedia.org/wikipedia/en/0/0c...,https://en.wikipedia.org/wiki/Badla_(2019_film),Badla,Badla,0,2019,118,Crime|Drama|Mystery,7.9,15499,Naina Sethi a successful entrepreneur finds he...,A dynamic young entrepreneur finds herself loc...,NaN,Amitabh Bachchan|Taapsee Pannu|Amrita Singh|An...,1 win,8 March 2019 (India)
30,Student of the Year 2,tt7255568,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Student_of_the_Y...,Student of the Year 2,Student of the Year 2,0,2019,146,Drama|Romance|Sport,2.5,12671,A student must face off against bullies and ov...,A student must face off against bullies and ov...,NaN,Tiger Shroff|Ananya Panday|Tara Sutaria|Aditya...,NaN,10 May 2019 (USA)
45,Chicken Curry Law,tt7189494,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Chicken_Curry_Law,Chicken Curry Law,Chicken Curry Law,0,2019,127,Drama,6.0,19,Maya a foreigner who comes to India for her ca...,An ambitious and innocent girl falls prey to t...,NaN,Natalia Janoszek|Ashutosh Rana|Makrand Deshpan...,NaN,9 August 2019 (India)
60,Yaaram (2019 film),tt11007050,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yaaram_(2019_film),#Yaaram,#Yaaram,0,2019,\N,Comedy|Romance,5.7,7,All set for an arranged marriage Rohit Bajaj ...,All set for an arranged marriage Rohit Bajaj ...,NaN,Siddhanth Kapoor|Prateik|Anita Raj|Ishita Raj|...,NaN,NaN
75,Pati Patni Aur Woh (2019 film),tt9680136,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pati_Patni_Aur_W...,Pati Patni Aur Woh,Pati Patni Aur Woh,0,2019,126,Comedy|Romance,5.7,6100,Chintu Tyagi is an ordinary middle class man ...,Chintu Tyagi is an ordinary middle class man ...,NaN,Kartik Aaryan|Bhumi Pednekar|Ananya Panday|Apa...,NaN,NaN
90,Jaane Kyun De Yaaron,tt7720254,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Jaane_Kyun_De_Ya...,Jaane kyun de yaaron,Jaane kyun de yaaron,0,2018,131,Drama,4.4,25,Raghu and Abhishek are two young rap singers ...,Two boys with the dreams to change their ordin...,NaN,Akshay Anand|Kabir Bedi|Hitesh Bhardwaj|Abhay ...,NaN,16 February 2018 (India)

In [51]:
movies.iloc[[23,55,76]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
23,Notebook (2019 film),tt9105014,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Notebook_(2019_f...,Notebook,Notebook,0,2019,115,Drama|Romance,6.8,1335,In the Kashmir valley Kabir a former army offi...,An ex-army officer Kabir becomes a teacher i...,NaN,Zaheer Iqbal|Pranutan Bahl|Mir Mohammed Mehroo...,NaN,29 March 2019 (USA)
55,Pal Pal Dil Ke Paas,tt6978954,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Pal_Pal_Dil_Ke_Paas,Pal Pal Dil Ke Paas,Pal Pal Dil Ke Paas,0,2019,154,Action|Drama|Romance,4.6,562,When video blogger Saher Sethi embarks on a te...,When video blogger Saher Sethi embarks on a te...,NaN,Karan Deol|Sahher Bambba|Simone Singh|Sachin K...,NaN,20 September 2019 (USA)
76,Commando 3 (film),tt8983168,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Commando_3_(film),Commando 3,Commando 3,0,2019,133,Action|Thriller,5.7,2400,A mysterious man is on an impending mission to...,Commando 3 is a Hindi movie starring Vidyut Ja...,NaN,Vidyut Jammwal|Adah Sharma|Angira Dhar|Sumeet ...,NaN,NaN

In [52]:
movies.columns

Index(['title_x', 'imdb_id', 'poster_path', 'wiki_link', 'title_y',
       'original_title', 'is_adult', 'year_of_release', 'runtime', 'genres',
       'imdb_rating', 'imdb_votes', 'story', 'summary', 'tagline', 'actors',
       'wins_nominations', 'release_date'],
      dtype='object')

In [53]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [54]:
movies.set_index('title_x')

,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
title_x,,,,,,,,,,,,,,,,,
Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India)
Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India)
Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN
Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012)

In [55]:
movies.set_index('title_x').loc['Daaka']

imdb_id                                                    tt10833860
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link                         https://en.wikipedia.org/wiki/Daaka
title_y                                                         Daaka
original_title                                                  Daaka
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           136
genres                                                         Action
imdb_rating                                                       7.4
imdb_votes                                                         38
story               Shinda tries robbing a bank so he can be wealt...
summary             Shinda tries robbing a bank so he can be wealt...
tagline                                                           NaN
actors                                      Gippy Grewal|Zareen Khan|
wins_nominations                                                  NaN
release_date                                    1 November 2019 (USA)
Name: Daaka, dtype: object

In [56]:
movies.set_index('title_x').loc[['Daaka','Why Cheat India']]

,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
title_x,,,,,,,,,,,,,,,,,
Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA)
Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)

In [57]:
ipl.iloc[0:5,0:11]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N

In [58]:
ipl.iloc[[0,5,9,11,55,78,90],[2,4,6,7,11]]

,Date,MatchNumber,Team2,Venue,WinningTeam
0,2022-05-29,Final,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans
5,2022-05-21,69,Mumbai Indians,"Wankhede Stadium, Mumbai",Mumbai Indians
9,2022-05-17,65,Mumbai Indians,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad
11,2022-05-15,63,Lucknow Super Giants,"Brabourne Stadium, Mumbai",Rajasthan Royals
55,2022-04-10,19,Kolkata Knight Riders,"Brabourne Stadium, Mumbai",Delhi Capitals
78,2021-10-08,56,Royal Challengers Bangalore,Dubai International Cricket Stadium,Royal Challengers Bangalore
90,2021-09-30,44,Chennai Super Kings,Sharjah Cricket Stadium,Chennai Super Kings

In [59]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [60]:
ipl[['MatchNumber','WinningTeam']]

     MatchNumber                  WinningTeam
0          Final               Gujarat Titans
1    Qualifier 2             Rajasthan Royals
2     Eliminator  Royal Challengers Bangalore
3    Qualifier 1               Gujarat Titans
4             70                 Punjab Kings
..           ...                          ...
945            4        Kolkata Knight Riders
946            5  Royal Challengers Bangalore
947            3             Delhi Daredevils
948            2          Chennai Super Kings
949            1        Kolkata Knight Riders

[950 rows x 2 columns]

In [61]:
ipl[ipl['MatchNumber']=='Final'][['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

## How many superover?

In [62]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [63]:
ipl[ipl['SuperOver']=='Y']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
114,1254077,Chennai,2021-04-25,2021,20,Delhi Capitals,Sunrisers Hyderabad,"MA Chidambaram Stadium, Chepauk, Chennai",Delhi Capitals,bat,Y,Delhi Capitals,SuperOver,NaN,NaN,PP Shaw,"['PP Shaw', 'S Dhawan', 'RR Pant', 'SPD Smith'...","['DA Warner', 'JM Bairstow', 'KS Williamson', ...",CB Gaffaney,KN Ananthapadmanabhan
158,1216512,Abu Dhabi,2020-10-18,2020/21,35,Kolkata Knight Riders,Sunrisers Hyderabad,Sheikh Zayed Stadium,Sunrisers Hyderabad,field,Y,Kolkata Knight Riders,SuperOver,NaN,NaN,LH Ferguson,"['Shubman Gill', 'RA Tripathi', 'N Rana', 'AD ...","['JM Bairstow', 'KS Williamson', 'PK Garg', 'D...",PG Pathak,S Ravi
159,1216517,NaN,2020-10-18,2020/21,36,Mumbai Indians,Kings XI Punjab,Dubai International Cricket Stadium,Mumbai Indians,bat,Y,Kings XI Punjab,SuperOver,NaN,NaN,KL Rahul,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...","['KL Rahul', 'MA Agarwal', 'CH Gayle', 'N Poor...",Nitin Menon,PR Reiffel
184,1216547,NaN,2020-09-28,2020/21,10,Royal Challengers Bangalore,Mumbai Indians,Dubai International Cricket Stadium,Mumbai Indians,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,AB de Villiers,"['D Padikkal', 'AJ Finch', 'V Kohli', 'AB de V...","['RG Sharma', 'Q de Kock', 'SA Yadav', 'Ishan ...",Nitin Menon,PR Reiffel
192,1216493,NaN,2020-09-20,2020/21,2,Delhi Capitals,Kings XI Punjab,Dubai International Cricket Stadium,Kings XI Punjab,field,Y,Delhi Capitals,SuperOver,NaN,NaN,MP Stoinis,"['PP Shaw', 'S Dhawan', 'SO Hetmyer', 'SS Iyer...","['KL Rahul', 'MA Agarwal', 'KK Nair', 'N Poora...",AK Chaudhary,Nitin Menon
203,1178426,Mumbai,2019-05-02,2019,51,Mumbai Indians,Sunrisers Hyderabad,Wankhede Stadium,Mumbai Indians,bat,Y,Mumbai Indians,SuperOver,NaN,NaN,JJ Bumrah,"['RG Sharma', 'Q de Kock', 'SA Yadav', 'E Lewi...","['WP Saha', 'MJ Guptill', 'MK Pandey', 'KS Wil...",CK Nandan,S Ravi
244,1175365,Delhi,2019-03-30,2019,10,Kolkata Knight Riders,Delhi Capitals,Arun Jaitley Stadium,Delhi Capitals,field,Y,Delhi Capitals,SuperOver,NaN,NaN,PP Shaw,"['NS Naik', 'CA Lynn', 'RV Uthappa', 'N Rana',...","['PP Shaw', 'S Dhawan', 'SS Iyer', 'RR Pant', ...",AY Dandekar,Nitin Menon
339,1082625,Rajkot,2017-04-29,2017,35,Gujarat Lions,Mumbai Indians,Saurashtra Cricket Association Stadium,Gujarat Lions,bat,Y,Mumbai Indians,SuperOver,NaN,NaN,KH Pandya,"['Ishan Kishan', 'BB McCullum', 'SK Raina', 'A...","['PA Patel', 'JC Buttler', 'N Rana', 'RG Sharm...",AK Chaudhary,CB Gaffaney
474,829741,Ahmedabad,2015-04-21,2015,18,Rajasthan Royals,Kings XI Punjab,"Sardar Patel Stadium, Motera",Kings XI Punjab,field,Y,Kings XI Punjab,SuperOver,NaN,NaN,SE Marsh,"['AM Rahane', 'SR Watson', 'DJ Hooda', 'SPD Sm...","['M Vijay', 'V Sehwag', 'SE Marsh', 'GJ Maxwel...",M Erasmus,S Ravi
533,729315,Abu Dhabi,2014-04-29,2014,19,Kolkata Knight Riders,Rajasthan Royals,Sheikh Zayed Stadium,Rajasthan Royals,bat,Y,Rajasthan Royals,SuperOver,NaN,NaN,JP Faulkner,"['G Gambhir', 'MS Bisla', 'JH Kallis', 'MK Pan...","['AM Rahane', 'KK Nair', 'SV Samson', 'SR Wats...",Aleem Dar,AK Chaudhary
608,598017,Bangalore,2013-04-16,2013,21,Royal Challengers Bangalore,Delhi Daredevils,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,Y,Royal Challengers Bangalore,SuperOver,NaN,NaN,V Kohli,"['CH Gayle', 'KL Rahul', 'V Kohli', 'AB de Vil...","['DA Warner', 'V Sehwag', 'MC Juneja', 'DPMD J...",M Erasmus,VA Kulkarni
621,598004,Hyderabad,2013-04-07,2013,7,Sunrisers Hyderabad,Royal Challengers Bangalore,"Rajiv Gandhi International Stadium, Uppal",Royal Challengers Bangalore,bat,Y,Sunrisers Hyderabad,SuperOver,NaN,NaN,GH Vihari,"['PA Reddy', 'PA Patel', 'CL White', 'GH Vihar...","['CH Gayle', 'TM Dilshan', 'V Kohli', 'KK Nair...",AK Chaudhary,S Ravi
819,419121,Chennai,2010-03-21,2009/10,16,Chennai Super Kings,Kings XI Punjab,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,field,Y,Kings XI Punjab,SuperOver,NaN,NaN,J Theron,"['PA Patel', 'ML Hayden', 'SK Raina', 'M Vijay...","['RS Bopara', 'IK Pathan', 'KC Sangakkara', 'D...",K Hariharan,DJ Harper
883,392190,Cape Town,2009-04-23,2009,10,Kolkata Knight Riders,Rajasthan Royals,Newlands,Kolkata Knight Riders,field,Y,Rajasthan Royals,SuperOver,NaN,NaN,YK Pathan,"['CH Gayle', 'BB McCullum', 'LR Shukla', 'BJ H...","['GC Smith', 'PC Valthaty', 'RJ Quiney', 'YK P...",MR Benson,M Erasmus

In [64]:
ipl[ipl['SuperOver']=='Y'].shape[0]

14

## How many matches CSK win in kolkata?

In [65]:
ipl.head(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [66]:
ipl[(ipl['City']=='Kolkata')&(ipl['WinningTeam']=='Chennai Super Kings')]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
224,1178404,Kolkata,2019-04-14,2019,29,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,Imran Tahir,"['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",CK Nandan,RJ Tucker
602,598022,Kolkata,2013-04-20,2013,26,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Wickets,4.0,NaN,RA Jadeja,"['G Gambhir', 'YK Pathan', 'JH Kallis', 'EJG M...","['MEK Hussey', 'R Ashwin', 'M Vijay', 'SK Rain...",Asad Rauf,AK Chaudhary
641,548368,Kolkata,2012-05-14,2012,63,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,MEK Hussey,"['G Gambhir', 'BB McCullum', 'JH Kallis', 'MK ...","['MEK Hussey', 'M Vijay', 'SK Raina', 'F du Pl...",JD Cloete,SJA Taufel
827,419113,Kolkata,2010-03-16,2009/10,8,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,55.0,NaN,MS Dhoni,"['BJ Hodge', 'MK Tiwary', 'SC Ganguly', 'WP Sa...","['M Vijay', 'ML Hayden', 'SK Raina', 'S Badrin...",HDPK Dharmasena,AM Saheba
908,336025,Kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan

## Toss winner is the match winner in percentage

In [67]:
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [68]:
ipl[ipl['TossWinner']==ipl['WinningTeam']].shape[0]/ipl.shape[0]*100

51.473684210526315

## Movies with rating higher than 8 and vote more than 1000

In [69]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [70]:
movies[(movies['imdb_rating']>8) &(movies['imdb_votes']>1000)].shape[0]

53

## Action movies with rating more than 7.5

In [71]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [72]:
movies['genres'].str.split('|')

0       [Action, Drama, War]
1                      [War]
2         [Biography, Drama]
3             [Crime, Drama]
4                    [Drama]
                ...
1624                 [Drama]
1625                 [Drama]
1626         [Comedy, Drama]
1627                [Action]
1628        [Drama, Romance]
Name: genres, Length: 1629, dtype: object

In [73]:
movies['genres'].str.split('|').apply(lambda arguments: 'Action' in arguments)

0        True
1       False
2       False
3       False
4       False
        ...
1624    False
1625    False
1626    False
1627     True
1628    False
Name: genres, Length: 1629, dtype: bool

In [74]:
movies[(movies['genres'].str.split('|').apply(lambda arguments: 'Action' in arguments))&(movies['imdb_rating']>7.5)].shape[0]

33

In [75]:
movies['Country'] = 'India'

In [76]:
movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date,Country
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA),India
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India),India
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA),India
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA),India
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India),India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India),India
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India),India
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN,India
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA),India
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012),India

## Adding a new column 'lead_actor', the first name in the 'actor' column will be the values

In [77]:
movies['actors'].str.split('|').apply(lambda x: x[0])

TypeError: 'float' object is not subscriptable

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
 18  Country           1629 non-null   object
dtypes: float64(1), int64(3), object(15)
memory usage: 241.9+ KB

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies['actors'].str.split('|').apply(lambda x: x[0])

11             Ranveer Singh
34              Gavie Chahal
37        Ayushmann Khurrana
87         Sidharth Malhotra
96                Ajay Devgn
                ...
1600             Divya Dutta
1601               Anant Nag
1607             Anil Kapoor
1621    Priyanshu Chatterjee
1623          Karisma Kapoor
Name: actors, Length: 298, dtype: object

In [ ]:
movies['lead_actor'] = movies['actors'].str.split('|').apply(lambda x: x[0])

In [ ]:
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date,Country,lead_actor
11,Gully Boy,tt2395469,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gully_Boy,Gully Boy,Gully Boy,0,2019,153,Drama|Music,8.2,22440,"Gully Boy is a film about a 22-year-old boy ""M...",A coming-of-age story based on the lives of st...,Apna Time Aayega!,Ranveer Singh|Alia Bhatt|Siddhant Chaturvedi|V...,6 wins & 3 nominations,14 February 2019 (USA),India,Ranveer Singh
34,Yeh Hai India,tt5525846,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Hai_India,Yeh Hai India,Yeh Hai India,0,2017,128,Action|Adventure|Drama,5.7,169,Yeh Hai India follows the story of a 25 years...,Yeh Hai India follows the story of a 25 years...,A Film for Every Indian,Gavie Chahal|Mohan Agashe|Mohan Joshi|Lom Harsh|,2 wins & 1 nomination,24 May 2019 (India),India,Gavie Chahal
37,Article 15 (film),tt10324144,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Article_15_(film),Article 15,Article 15,0,2019,130,Crime|Drama,8.3,13417,In the rural heartlands of India an upright p...,In the rural heartlands of India an upright p...,Farq Bahut Kar Liya| Ab Farq Laayenge.,Ayushmann Khurrana|Nassar|Manoj Pahwa|Kumud Mi...,1 win,28 June 2019 (USA),India,Ayushmann Khurrana
87,Aiyaary,tt6774212,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Aiyaary,Aiyaary,Aiyaary,0,2018,157,Action|Thriller,5.2,3538,General Gurinder Singh comes with a proposal t...,After finding out about an illegal arms deal ...,The Ultimate Trickery,Sidharth Malhotra|Manoj Bajpayee|Rakul Preet S...,1 nomination,16 February 2018 (USA),India,Sidharth Malhotra
96,Raid (2018 film),tt7363076,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Raid_(2018_film),Raid,Raid,0,2018,122,Action|Crime|Drama,7.4,13159,Set in the 80s in Uttar Pradesh India Raid i...,A fearless income tax officer raids the mansio...,Heroes don't always come in uniform,Ajay Devgn|Saurabh Shukla|Ileana D'Cruz|Amit S...,2 wins & 3 nominations,16 March 2018 (India),India,Ajay Devgn

In [ ]:
ipl.info(
    
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [ ]:
ipl['ID'].astype('int32')

0      1312200
1      1312199
2      1312198
3      1312197
4      1304116
        ...
945     335986
946     335985
947     335984
948     335983
949     335982
Name: ID, Length: 950, dtype: int32

In [ ]:
ipl['ID'] = ipl['ID'].astype('int32')

In [ ]:
ipl['Season'] = ipl['Season'].astype('category')
ipl['Team1'] = ipl['Team1'].astype('category')
ipl['Team2'] = ipl['Team2'].astype('category')
ipl['TossWinner'] = ipl['TossWinner'].astype('category')
ipl['SuperOver'] = ipl['SuperOver'].astype('category')
ipl['WinningTeam'] = ipl['WinningTeam'].astype('category')
ipl['City'] = ipl['City'].astype('category')

In [ ]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int32
 1   City             899 non-null    category
 2   Date             950 non-null    object
 3   Season           950 non-null    category
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    category
 6   Team2            950 non-null    category
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    category
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    category
 11  WinningTeam      946 non-null    category
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: category(7), float64(1), int32(1), object(11)
memory usage: 104.2+ KB

In [ ]:
s1 = 123
s2 = 'ahdghg'
s3 = [1,2,3,4]
s4 = (1,2,3)
s5 = {1,2,3}
s6 = {'er':'df','eg':'th'}
print(type(s1))
print(type(s2))
print(type(s3))
print(type(s4))
print(type(s5))
print(type(s6))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
def is_even(num):
    """This function checks if a given argument is even or not
    input -  any valid integer
    output =  odd/even
    created on - Jun 3rd 2024
    """
    if num%2 == 0:
        return 'even'
    else:
        return 'odd'

In [ ]:
is_even(5)

'odd'

In [ ]:
for i in range(1,11):
    print(is_even(i))

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [ ]:
def is_even(num):
    """This function checks if a given argument is even or not
    input -  any valid integer
    output =  odd/even
    created on - Jun 3rd 2024
    """
    if type(num) == int:
        if num%2 == 0:
            return 'even'
        else:
            return 'odd'
    else:
        print('Incorrect datatype, This function only accepts integers...')

In [ ]:
is_even("hhhe")

Incorrect datatype, This function only accepts integers...

In [ ]:
is_even(12)

'even'

In [ ]:
def power(a,b):
    return a**b

In [ ]:
power(2,3)

8

In [ ]:
power(2)

TypeError: power() missing 1 required positional argument: 'b'

In [ ]:
def power(a=1,b=2):
    return a**b

In [ ]:
power(1)

1

In [ ]:
power(a)

NameError: name 'a' is not defined

In [ ]:
power("t")

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
power(2,)

4

In [ ]:
power(,3)

SyntaxError: invalid syntax (766900155.py, line 1)

In [ ]:
power(b=3,a=2)

8

In [ ]:
def multiply(a,b):
    return a*b

In [ ]:
multiply(2,3)

6

In [ ]:
def multiply(a,b,c):
    return a*b*c
multiply(2,3,4)

24

In [ ]:
def multiply(*args):
    product = 1
    for i in args:
        product = product*i
    print(args)
    return product
multiply(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

362880

In [ ]:
print(is_even.__doc__)

This function checks if a given argument is even or not
    input -  any valid integer
    output =  odd/even
    created on - Jun 3rd 2024

In [ ]:
def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,value)

In [ ]:
display(Bharat='Delhi', US='Washington',)

Bharat Delhi
US Washington

In [ ]:
def is_even(num):
    if num%2 == 0:
        print('even')
    else:
        print('odd')
        
print(is_even(5))

odd
None

In [ ]:
l = [1,2,3]
print(l.append(4))

None

In [ ]:
def f():
    def g():
        print('inside g')
        f()
    g()
    print('inside f')
f()

inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g
inside g

RecursionError: maximum recursion depth exceeded while calling a Python object

In [ ]:
def g(y):
    print(x)
    print(x+1)

x = 5
g(x)
print(x)

5
6
5

In [ ]:
def g(x):
    print(x)
    x=x+1
    print(x)

x = 5
g(x)
print(x)

5
6
5

In [ ]:
def g(x):
    def h():
        x = 'abc'
    x += 1
    print('in g(x): x=',x)
    h()
    return x

x = 3
z = g(x)

in g(x): x= 4

In [ ]:
def g(x):
    def h(x):
        x += 1
        print('in h(x): x=',x)
    x += 1
    print('in g(x): x=',x)
    h(x)
    return x

x = 3
z = g(x)
print('in main program scope: z =',z)
print('in main program scope: x =',x)

in g(x): x= 4
in h(x): x= 5
in main program scope: z = 4
in main program scope: x = 3

In [ ]:
def f():
    def x(a,b):
        return a+b
    return x
val = f()(3,4)
print(val)

7

In [ ]:
def func_a():
    print("inside function a")

def func_b(z):
    print("inside function b")
    return z()
func_b(func_a)

inside function b
inside function a

In [ ]:
a = lambda x,y:x+y
a(4,5)

9

In [ ]:
a = lambda x: 'even' if x%2==0 else 'odd'
a(5)

'odd'

In [ ]:
def square(x):
    return x**2
def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))
    print(output)
l = [1,2,3,4,5]
transform(square,l)

[1, 4, 9, 16, 25]

In [ ]:
def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))
    print(output)
l = [1,2,3,4,5]
transform(lambda x:x**2,l)

[1, 4, 9, 16, 25]

In [ ]:
map(lambda x:x**2,[1,2,3,4,5])

In [ ]:
list(map(lambda x:x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [ ]:
list(map(lambda x: 'even' if x%2==0 else 'odd',[1,2,3,4,5,6,7]))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
list(map(lambda x: x/2,[1,2,3,4,5,6,7]))

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5]

In [ ]:
list(map(lambda x: x**2,[1,2,3,4,5,6,7]))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
from functools import reduce
reduce(lambda a,b:a+b,[1,2,3,4,5,6])

21

In [ ]:
def square(x):
    return x**2
num = [1,2,3,4,5]

result = map(square,num)
maped_raselt = list(result)
print(maped_raselt)

[1, 4, 9, 16, 25]

In [ ]:
list(filter(lambda x: x>555,[343,66,11,75,909]))

[909]

In [ ]:
from functools import reduce
s = 'brown fox jump over the white cat'
reduce(lambda a,b:a if a>b else b,s)

'x'

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.balance = 0

In [ ]:
obj = Atm()

In [ ]:
obj.balance

0

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.balance = 0
        print('The constructor has been executed!')
    def menu(self):
        int(input("""
    Welcome
                1. Create pin
                2. Change pin
                3.Check balance
                4. Withdrawl
                5. Exit
    """))

In [ ]:
object = Atm()

The constructor has been executed!

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.balance = 0
        self.menu()
    def menu(self):
        int(input("""
    Welcome
                1. Create pin
                2. Change pin
                3. Check balance
                4. Withdrawl
                5. Exit
    """))

In [ ]:
object=Atm()

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.balance = 0
        self.menu()

    def menu(self):
        user_input = int(input("""
                Welcome
                1. Create pin
                2. Change pin
                3. Check balance
                4. Withdrawl
                5. Exit
"""))
        if user_input == 1:
            self.create_pin()
        elif user_input == 2:
            self.change_pin()
        elif user_input == 3:
            self.check_balance()
            pass
        elif user_input==4:
            self.withdrawl()
        else:
            pass
    
    def create_pin(self):
        user_pin = int(input("Enter your pin number: "))
        self.pin = user_pin
        print("Your pin number has been created!")
        user_balance = int(input("Enter your balance: "))
        self.balance = user_balance
        print("Your balance has been updated!")
        self.menu()

    def change_pin(self):
        old_pin = int(input("Enter your old pin: "))
        if old_pin == self.pin:
            new_pin = int(input("Enter your new pin: "))
            self.pin = new_pin
            print("Your pin number has been updated")
            self.menu()
        else:
            print("Wrong pin try again!")
            self.menu()

    def check_balance(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            print('Your balance is:', self.balance)
            self.menu()
        else:
            print("Wrong pin, try again!")
            self.menu()

    def withdrawl(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            amount = int(input("Enter the amount that you wanna withdraw: "))
            if self.balance >= amount:
                print("collect cash")
                self.balance = self.balance - amount
                print('Your remaining balance is:', self.balance)
            else:
                print("You don't have enough money in your account")
                self.menu()
        else:
            print('Wrong pin!')
            self.menu()

In [ ]:
object = Atm()
print(id(object))

4447162320

In [ ]:
object2 = Atm()
print(id(object2))

4365963728

In [ ]:
object.change_pin()

Wrong pin try again!

In [ ]:
class Fraction:
    # parameterized constructor
    def __init__(self,x,y):
        self.num = x
        self.den = y

    def __str__(self):
        return '{}/{}'.format(self.num,self.den)

    def __add__(self,other):
        new_num = (self.num*other.den)+(other.num*self.den)
        new_den = other.den*self.den
        return '{}/{}'.format(new_num,new_den)
    
    def decimal(self):
        return self.num/self.den

In [ ]:
frac1 = Fraction(3,4)

In [ ]:
frac2 = Fraction(5,6)

In [ ]:
print(frac1)

3/4

In [ ]:
print(frac1+frac2)

38/24

In [ ]:
frac1.decimal()

0.75

In [ ]:
import math
class Point:
    def __init__(self,x,y):
        self.x_cod = x
        self.y_cod = y
    
    def __str__(self):
        return '({},{})'.format(self.x_cod,self.y_cod)
    
    def uclidean_distance(self,other):
        return math.sqrt((self.x_cod-other.x_cod)**2+(self.y_cod-other.y_cod)**2)
    
    def distance_from_origin(self):
        #return math.sqrt(self.x_cod**2+self.y_cod**2)
        return self.uclidean_distance(Point(0,0))
    
class Line:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c

    def __str__(self):
        return '{}x+{}y+{}=0'.format(self.a,self.b,self.c)
    
    def point_on_line(line,point):
        if line.a*point.x_cod+line.b*point.y_cod+line.c == 0:
            return 'The point is located on the line'
        else:
            return 'The point is not located on the line'
        
    def shortest_distance(line,point):
        return abs(line.a*point.x_cod+line.b*point.y_cod+line.c)/math.sqrt(line.a**2+line.b**2)

In [ ]:
p1 = Point(0,0)
p2 = Point(1,1)
l1 = Line(1,1,-2)

In [ ]:
print(p1)
print(p2)
print(l1)

(0,0)
(1,1)
1x+1y+-2=0

In [ ]:
p1.uclidean_distance(p2)

1.4142135623730951

In [ ]:
p2.distance_from_origin()

5.0

In [ ]:
l1.shortest_distance(p2)

0.0

In [ ]:
class Person:
    def __init__(self):
        self.name = 'Alice'
        self.country = 'US'

In [ ]:
Person()

In [ ]:
p = Person()
q = p

In [ ]:
p.country = 'Camarena'

In [ ]:

print(id(p))
print(id(q))
print(p.name)
print(q.name)
print(p.country)
q.name = 'bob'
print(p.name)
print(q.name)

4395036560
4395036560
Alice
Alice
Camarena
bob
bob

In [ ]:
p.gender = 'female'

In [ ]:
p.gender

'female'

In [ ]:
class Person:
    def __init__(self,name,gender):
        self.name  = name
        self.gender = gender
        print('returned')

def greet(person):
    print('Hello my name is', person.name, "and I'm a",person.gender )
    p1 = Person('Bob','male')
    return p1

In [ ]:
p = Person('Alice','female')

returned

In [ ]:
person = greet(p)
print(person.name)
print(person.gender)

Hello my name is Alice and I'm a female
returned
Bob
male

In [ ]:
class Person:
    def __init__(self,name,gender):
        self.name  = name
        self.gender = gender

def greet(person):
    print(id(person))
    print('Hello my name is', person.name, "and I'm a",person.gender )


p = Person('Alice','female')
print(id(p))
greet(p)

4395267344
4395267344
Hello my name is Alice and I'm a female

In [ ]:
class Person:
    def __init__(self,name,gender):
        self.name  = name
        self.gender = gender

def greet(person):
    print(id(person))
    person.name = 'Bob'
    print(person.name)

p = Person('Alice','female')
print(id(p))
greet(p)
print(p.name)

4395025936
4395025936
Bob
Bob

In [ ]:
class Car:
    def __init__(self,make,model):
        self.make = make
        self.model = model

car1 = Car('Toyota','camry')
car2 = Car('Audi','Q5')

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.balance = 0
        self.menu()

    def menu(self):
        user_input = int(input("""
                Welcome
                1. Create pin
                2. Change pin
                3. Check balance
                4. Withdrawl
                5. Exit
"""))
        if user_input == 1:
            self.create_pin()
        elif user_input == 2:
            self.change_pin()
        elif user_input == 3:
            self.check_balance()
            pass
        elif user_input==4:
            self.withdrawl()
        else:
            pass
    
    def create_pin(self):
        user_pin = int(input("Enter your pin number: "))
        self.pin = user_pin
        print("Your pin number has been created!")
        user_balance = int(input("Enter your balance: "))
        self.balance = user_balance
        print("Your balance has been updated!")
        self.menu()

    def change_pin(self):
        old_pin = int(input("Enter your old pin: "))
        if old_pin == self.pin:
            new_pin = int(input("Enter your new pin: "))
            self.pin = new_pin
            print("Your pin number has been updated")
            self.menu()
        else:
            print("Wrong pin try again!")
            self.menu()

    def check_balance(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            print('Your balance is:', self.balance)
            self.menu()
        else:
            print("Wrong pin, try again!")
            self.menu()

    def withdrawl(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            amount = int(input("Enter the amount that you wanna withdraw: "))
            if self.balance >= amount:
                print("collect cash")
                self.balance = self.balance - amount
                print('Your remaining balance is:', self.balance)
            else:
                print("You don't have enough money in your account")
                self.menu()
        else:
            print('Wrong pin!')
            self.menu()
    
object = Atm()

In [ ]:
object.create_pin()
object.balance = 'gdfdsss'

Your pin number has been created!
Your balance has been updated!

In [ ]:
object.withdrawl()

TypeError: '>=' not supported between instances of 'str' and 'int'

In [ ]:
class Atm:
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.__balance = 0
        self.menu()

    def get_balance(self):
        return self.__balance
    
    def set_balance(self,new_balance):
        if type(new_balance) == int:
            self.__balance = new_balance
            print('balance has been updated by you')
        else:
            print('You are trying make unexpected changes')

    def menu(self):
        user_input = int(input("""
                Welcome
                1. Create pin
                2. Change pin
                3. Check balance
                4. Withdrawl
                5. Exit
"""))
        if user_input == 1:
            self.create_pin()
        elif user_input == 2:
            self.change_pin()
        elif user_input == 3:
            self.check_balance()
            pass
        elif user_input==4:
            self.withdrawl()
        else:
            pass
    
    def create_pin(self):
        user_pin = int(input("Enter your pin number: "))
        self.pin = user_pin
        print("Your pin number has been created!")
        user_balance = int(input("Enter your balance: "))
        self.__balance = user_balance
        print("Your balance has been updated!")
        self.menu()

    def change_pin(self):
        old_pin = int(input("Enter your old pin: "))
        if old_pin == self.pin:
            new_pin = int(input("Enter your new pin: "))
            self.pin = new_pin
            print("Your pin number has been updated")
            self.menu()
        else:
            print("Wrong pin try again!")
            self.menu()

    def check_balance(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            print('Your balance is:', self.__balance)
            self.menu()
        else:
            print("Wrong pin, try again!")
            self.menu()

    def withdrawl(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            amount = int(input("Enter the amount that you wanna withdraw: "))
            if self.__balance >= amount:
                print("collect cash")
                self.__balance = self.__balance - amount
                print('Your remaining balance is:', self.balance)
            else:
                print("You don't have enough money in your account")
                self.menu()
        else:
            print('Wrong pin!')
            self.menu()
    
object = Atm()

Your pin number has been created!
Your balance has been updated!

In [ ]:
object.get_balance()

500

In [ ]:
object.set_balance('kk')

You are trying make unexpected changes

In [ ]:
object.set_balance(50)

balance has been updated by you

In [ ]:
class Person:
    def __init__(self,name,place):
        self.name = name
        self.place = place

p1 = Person('Alice','LA')
p2 = Person('Bob','Arizona')
p3 = Person('Martin','Orage')

In [ ]:
l = [p1,p2,p3]

In [ ]:
for i in l:
    print(i.name,'from',i.place)

Alice from LA
Bob from Arizona
Martin from Orage

In [ ]:
dic = {'first': p1,'Second': p2,'third':p3}
for i in dic:
    print(dic[i],i,dic[i].name,'from',dic[i].place)

<__main__.Person object at 0x105eb54d0> first Alice from LA
<__main__.Person object at 0x105f24790> Second Bob from Arizona
<__main__.Person object at 0x105ee2fd0> third Martin from Orage

In [ ]:
class Atm:

    __counter = 1
    # costructor
    def __init__(self):
        self.pinpin = ''
        self.__balance = 0
        self.cid = Atm.__counter
        Atm.__counter+=1
        self.menu()
    @staticmethod
    def get_counter():
        return Atm.__counter
    
    def set_counter(new):
        Atm.__counter = new

    def get_balance(self):
        return self.__balance
    
    def set_balance(self,new_balance):
        if type(new_balance) == int:
            self.__balance = new_balance
            print('balance has been updated by you')
        else:
            print('You are trying make unexpected changes')

    def menu(self):
        user_input = int(input("""
                Welcome
                1. Create pin
                2. Change pin
                3. Check balance
                4. Withdrawl
                5. Exit
"""))
        if user_input == 1:
            self.create_pin()
        elif user_input == 2:
            self.change_pin()
        elif user_input == 3:
            self.check_balance()
            pass
        elif user_input==4:
            self.withdrawl()
        else:
            pass
    
    def create_pin(self):
        user_pin = int(input("Enter your pin number: "))
        self.pin = user_pin
        print("Your pin number has been created!")
        user_balance = int(input("Enter your balance: "))
        self.__balance = user_balance
        print("Your balance has been updated!")
        self.menu()

    def change_pin(self):
        old_pin = int(input("Enter your old pin: "))
        if old_pin == self.pin:
            new_pin = int(input("Enter your new pin: "))
            self.pin = new_pin
            print("Your pin number has been updated")
            self.menu()
        else:
            print("Wrong pin try again!")
            self.menu()

    def check_balance(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            print('Your balance is:', self.__balance)
            self.menu()
        else:
            print("Wrong pin, try again!")
            self.menu()

    def withdrawl(self):
        check_pin = int(input("Enter your pin: "))
        if check_pin == self.pin:
            amount = int(input("Enter the amount that you wanna withdraw: "))
            if self.__balance >= amount:
                print("collect cash")
                self.__balance = self.__balance - amount
                print('Your remaining balance is:', self.balance)
            else:
                print("You don't have enough money in your account")
                self.menu()
        else:
            print('Wrong pin!')
            self.menu()

In [ ]:
c1 = Atm()
c2 = Atm()
c3 = Atm()

In [ ]:
print(c1.cid)
print(c2.cid)
print(c3.cid)

1
2
3

In [ ]:
Atm.get_counter()

4

In [ ]:
Atm.set_counter(5)

# Aggregation

In [ ]:
class Customer:
    def __init__(self,name,gender,address):
        self.name = name
        self.gender = gender
        self.address = address

    def print_address(self):
        print(self.address.street,self.address.city,self.address.state,self.address.zip)

class Address:
    def __init__(self,street,city,state,zip):
        self.street = street
        self.city = city
        self.state = state
        self.zip = zip

In [ ]:
add1 = Address('125 main st','Los Angeles','Ca','90715')
cust = Customer('Alice','female',add1)

In [ ]:
cust.print_address()

125 main st Los Angeles Ca 90715

In aggregation private attributes of a class can't be accessed from a different class

In [ ]:
class Customer:
    def __init__(self,name,gender,address):
        self.name = name
        self.gender = gender
        self.address = address

    def print_address(self):
        print(self.address.street,self.address.city,self.address.state,self.address.zip)

class Address:
    def __init__(self,street,city,state,zip):
        self.street = street
        self.__city = city
        self.state = state
        self.zip = zip
add1 = Address('125 main st','Los Angeles','Ca','90715')
cust = Customer('Alice','female',add1)
cust.print_address()

AttributeError: 'Address' object has no attribute 'city'

We'll have to use getter/setter

In [ ]:
class Customer:
    def __init__(self,name,gender,address):
        self.name = name
        self.gender = gender
        self.address = address

    def print_address(self):
        print(self.address.street,self.address.get_city(),self.address.state,self.address.zip)

class Address:
    def __init__(self,street,city,state,zip):
        self.street = street
        self.__city = city
        self.state = state
        self.zip = zip

    def get_city(self):
        return self.__city

add1 = Address('125 main st','Los Angeles','Ca','90715')
cust = Customer('Alice','female',add1)
cust.print_address()

125 main st Los Angeles Ca 90715

In case of customer updates a profile

In [ ]:
class Customer:
    def __init__(self,name,gender,address):
        self.name = name
        self.gender = gender
        self.address = address

    def print_address(self):
        print(self.address.street,self.address.get_city(),self.address.state,self.address.zip)

    def edit_profile(self,new_name,new_street,new_city,new_state,new_zip):
        self.name = new_name
        self.address.edit_address(new_street,new_city,new_state,new_zip)


class Address:
    def __init__(self,street,city,state,zip):
        self.street = street
        self.__city = city
        self.state = state
        self.zip = zip

    def get_city(self):
        return self.__city

    def edit_address(self,new_street,new_city,new_state,new_zip):
        self.street = new_street
        self.__city = new_city
        self.state = new_state
        self.zip = new_zip

add1 = Address('125 main st','Los Angeles','Ca','90715')
cust = Customer('Alice','female',add1)
cust.print_address()
cust.edit_profile('Bob','245 imperial st','Long Beach','Ca','90811')
cust.print_address()

125 main st Los Angeles Ca 90715
245 imperial st Long Beach Ca 90811

In [ ]:
class User:
    def __init__(self):
        self.name = 'Alice'

    def login(self):
        print('login successfully')

class Student(User):
    def __init__(self):
        self.roll_no = 100

    def enroll(self):
        print("Enrolled into the course")

In [ ]:
user = User()
student = Student()

In [ ]:
student.login()

login successfully

In [ ]:
student.name

AttributeError: 'Student' object has no attribute 'name'

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside parent constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

class Smartphone(Phone):
    def __init__(self,os,ram):
        self.os = os
        self.ram = ram
        print('Inside chile constructor')

s = Smartphone('ios','4GB')
s.os

Inside chile constructor

'ios'

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside parent constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def __show(self):
        print(self.__price)

class Smartphone(Phone):
    def check(self):
        print(self.brand)
        print(self.__price)
        print('Inside chile constructor')

s = Smartphone('$799','Apple','16MP')
s.show()
s.check()

Inside parent constructor

AttributeError: 'Smartphone' object has no attribute 'show'

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside parent constructor")
        self.__price = price
        self.brand = brand
        self.camera = camera

    def __show(self):
        print(self.__price)

    def buy(self):
        print('inside parent method')

class Smartphone(Phone):
    def buy(self):
        super().buy()
        print('inside child method')

s = Smartphone('$799','Apple','16MP')
s.buy()

Inside parent constructor
inside parent method
inside child method

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside parent constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

    def __show(self):
        print(self.__price)

    def buy(self):
        print('inside parent method')

class Smartphone(Phone):
    def __init__(self,price,brand,camera,os,ram):
        print('inside child constructor')
        super().__init__(price,brand,camera)
        self.price1 = price
        self.os = os
        self.ram = ram
        print('inside child constructor')

s = Smartphone('$799','Apple','16MP','ios','4gb')
s.buy()

inside child constructor
Inside parent constructor
inside child constructor
inside parent method

In [ ]:
s.price1

'$799'

Multi-level inheritance

In [ ]:
class Product:
    def review(self):
        print("Inside Product class")

class Phone(Product):
    def __init__(self,price,brand,camera):
        print("Inside phone constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print("buying a phone")

class SmartPhone(Phone):
    pass

s = SmartPhone(800,'Apple',15)
s.buy()
s.review()

Inside phone constructor
buying a phone
Inside Product class

Hierarchical

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside phone constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print("buying a phone")

class SmartPhone(Phone):
    pass

class FeaturePhone(Phone):
    pass

s = SmartPhone(800,'Apple',15).buy()
s = FeaturePhone(30,'Nokia',.25).buy()

Inside phone constructor
buying a phone
Inside phone constructor
buying a phone

Multiple: This doesn't work in java

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside phone constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print("buying a phone")

class Product:
    def review(self):
        print("Product customer review")

class SmartPhone(Phone,Product):
    pass

class FeaturePhone(Phone):
    pass

s = SmartPhone(800,'Apple',15)
s.buy()
s.review()

Inside phone constructor
buying a phone
Product customer review

## The diamond problem:

https://stackoverflow.com/questions/56361048/what-is-the-diamond-problem-in-python-and-why-its-not-appear-in-python2

The class that comes first, its method will get called

In [ ]:
class Phone:
    def __init__(self,price,brand,camera):
        print("Inside phone constructor")
        self.price = price
        self.brand = brand
        self.camera = camera

    def buy(self):
        print("buying a phone")

class Product:
    def buy(self):
        print("Product customer review")

class SmartPhone(Product,Phone): # method resolution order MRO
    pass

s = SmartPhone(800,'Apple',15)
s.buy()

Inside phone constructor
Product customer review

recursion occures here # ; because of method overriding, python is gonna call m1 again and again, m1 from parent class never gets called

In [ ]:
class A:
    def m1(self):
        return 20
    
class B(A):
    def m1(self):
        val = super().m1()+30
        return val
    
class C(B):
    def m1(self):
        val = self.m1()+20 # 
        return val

obj = C()
print(obj.m1())

Method overloading

In [ ]:
class Geometry:

    def area(self,radius):
        print("Area of the circle",3.14*radius*radius)
    
    def area(self,length,hight):
        print("Area of a rectangle",length*hight)

cal_area = Geometry()
cal_area.area(5)

In [ ]:
class Geometry:

    def area(self,r,l=0):
        if l ==0:
            print("Area of the circle",3.14*r*r)
        else:
            print("Area of the ractangle",r*l)
    

cal_area = Geometry()
cal_area.area(5,4)

Area of the ractangle 20

## Action movies with rating more than 7.5

In [79]:
movies = pd.read_csv("imdb-top-1000.csv")

In [ ]:
movies[['genres','imdb_rating']]

                genres  imdb_rating
0     Action|Drama|War          8.4
1                  War          4.1
2      Biography|Drama          6.1
3          Crime|Drama          6.0
4                Drama          7.3
...                ...          ...
1624             Drama          4.9
1625             Drama          3.0
1626      Comedy|Drama          6.1
1627            Action          7.4
1628     Drama|Romance          9.0

[1629 rows x 2 columns]

In [ ]:
movies[(movies['genres'].str.split('|').apply(lambda x:'Action' in x))&(movies['imdb_rating']>7.5)].shape[0]

33

## write a function that can return the track record of 2 teams against each other

In [ ]:
ipl

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [ ]:
movies['country'] = 'India'

In [ ]:
movies['Lead_actor'] = movies['actors'].str.split('|').dropna().apply(lambda x:x[0])

In [ ]:
movies

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date,country,Lead_actor
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA),India,Vicky Kaushal
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India),India,Vicky Ahuja
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA),India,Anupam Kher
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA),India,Emraan Hashmi
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India),India,Mona Ambegaonkar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,Tera Mera Saath Rahen,tt0301250,https://upload.wikimedia.org/wikipedia/en/2/2b...,https://en.wikipedia.org/wiki/Tera_Mera_Saath_...,Tera Mera Saath Rahen,Tera Mera Saath Rahen,0,2001,148,Drama,4.9,278,Raj Dixit lives with his younger brother Rahu...,A man is torn between his handicapped brother ...,NaN,Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...,NaN,7 November 2001 (India),India,Ajay Devgn
1625,Yeh Zindagi Ka Safar,tt0298607,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...,Yeh Zindagi Ka Safar,Yeh Zindagi Ka Safar,0,2001,146,Drama,3.0,133,Hindi pop-star Sarina Devan lives a wealthy ...,A singer finds out she was adopted when the ed...,NaN,Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...,NaN,16 November 2001 (India),India,Ameesha Patel
1626,Sabse Bada Sukh,tt0069204,NaN,https://en.wikipedia.org/wiki/Sabse_Bada_Sukh,Sabse Bada Sukh,Sabse Bada Sukh,0,2018,\N,Comedy|Drama,6.1,13,Village born Lalloo re-locates to Bombay and ...,Village born Lalloo re-locates to Bombay and ...,NaN,Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...,NaN,NaN,India,Vijay Arora
1627,Daaka,tt10833860,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Daaka,Daaka,Daaka,0,2019,136,Action,7.4,38,Shinda tries robbing a bank so he can be wealt...,Shinda tries robbing a bank so he can be wealt...,NaN,Gippy Grewal|Zareen Khan|,NaN,1 November 2019 (USA),India,Gippy Grewal
1628,Humsafar,tt2403201,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Humsafar,Humsafar,Humsafar,0,2011,35,Drama|Romance,9.0,2968,Sara and Ashar are childhood friends who share...,Ashar and Khirad are forced to get married due...,NaN,Fawad Khan|,NaN,TV Series (2011–2012),India,Fawad Khan

In [ ]:
movies = pd.read_csv('imdb-top-1000.csv')

In [ ]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [ ]:
movies.groupby('Genre').describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

## Find top 3 genres by earing

In [ ]:
movies.groupby('Genre').sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8.452632e+09,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,3.540997e+10,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,4.391106e+08,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,7.827267e+08,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,1.259105e+08,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1.034649e+09,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1.256417e+09,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,1.755074e+07,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,5.822151e+07,313.0

In [ ]:
movies.groupby('Genre').max()['Gross'].sort_values(ascending=False)

Genre
Action       936662225.0
Drama        924558264.0
Comedy       886752933.0
Adventure    874211619.0
Animation    873839108.0
Crime        790482117.0
Biography    753585104.0
Mystery      474203697.0
Fantasy      445151978.0
Family       435110554.0
Horror       298791505.0
Film-Noir    123353292.0
Western       31800000.0
Thriller      17550741.0
Name: Gross, dtype: float64

## Find the director owith most popularity

In [ ]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [ ]:
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
David Fincher         6607859
Martin Scorsese       6513530
                       ...
J. Lee Thompson         26457
Peter Mullan            25938
René Laloux             25229
Francis Lee             25198
Kaige Chen              25088
Name: No_of_Votes, Length: 548, dtype: int64

## find the highest rated movie of each genre

In [ ]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [ ]:
movies.groupby('Genre').max()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Yôjinbô,2019,321,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,98.0
Adventure,Zombieland,PG,228,8.6,Ömer Faruk Sorak,Yves Montand,1512360,874211619.0,100.0
Animation,Ôkami kodomo no Ame to Yuki,2020,137,8.6,Yoshifumi Kondô,Yôji Matsuda,999790,873839108.0,96.0
Biography,Zerkalo,2020,209,8.9,Tom McCarthy,Éric Toledano,1213505,753585104.0,97.0
Comedy,Zindagi Na Milegi Dobara,2020,188,8.6,Zoya Akhtar,Ömer Faruk Sorak,939631,886752933.0,99.0
Crime,À bout de souffle,2019,229,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,100.0
Drama,Zwartboek,2020,242,9.3,Çagan Irmak,Çetin Tekindor,2343110,924558264.0,100.0
Family,Willy Wonka & the Chocolate Factory,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0
Horror,The Thing,2017,122,8.5,William Friedkin,Sigourney Weaver,787806,298791505.0,97.0
Mystery,Vertigo,2012,138,8.4,Terry Gilliam,Vidya Balan,1129894,474203697.0,100.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,165,8.8,Sergio Leone,Henry Fonda,688390,31800000.0,90.0

## find the number of movies of each actor

In [ ]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [ ]:
movies['Star1'].value_counts(ascending=False)

Star1
Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: count, Length: 660, dtype: int64

In [ ]:
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ömer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

In [81]:
movies.groupby('Genre').nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [82]:
len(movies.groupby('Genre'))

14

In [84]:
movies.groupby('Genre').size()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [85]:
genre = movies.groupby('Genre')

In [86]:
genre.first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [87]:
genre.last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [88]:
genre.nth(6)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
16,Star Wars: Episode V - The Empire Strikes Back,1980,124,Action,8.7,Irvin Kershner,Mark Hamill,1159315,290475067.0,82.0
27,Se7en,1995,127,Crime,8.6,David Fincher,Morgan Freeman,1445096,100125643.0,65.0
32,It's a Wonderful Life,1946,130,Drama,8.6,Frank Capra,James Stewart,405801,82385199.0,89.0
66,WALL·E,2008,98,Animation,8.4,Andrew Stanton,Ben Burtt,999790,223808164.0,95.0
83,The Great Dictator,1940,125,Comedy,8.4,Charles Chaplin,Charles Chaplin,203150,288475.0,NaN
102,Braveheart,1995,178,Biography,8.3,Mel Gibson,Mel Gibson,959181,75600000.0,68.0
118,North by Northwest,1959,136,Adventure,8.3,Alfred Hitchcock,Cary Grant,299198,13275000.0,98.0
420,Sleuth,1972,138,Mystery,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0

In [90]:
genre.agg({
    'Runtime': 'mean',
    'IMDB_Rating': 'mean',
    'Gross': 'sum' 
})

              Runtime  IMDB_Rating         Gross
Genre
Action     129.046512     7.949419  3.263226e+10
Adventure  134.111111     7.937500  9.496922e+09
Animation   99.585366     7.930488  1.463147e+10
Biography  136.022727     7.938636  8.276358e+09
Comedy     112.129032     7.901290  1.566387e+10
Crime      126.392523     8.016822  8.452632e+09
Drama      124.737024     7.957439  3.540997e+10
Family     107.500000     7.800000  4.391106e+08
Fantasy     85.000000     8.000000  7.827267e+08
Film-Noir  104.000000     7.966667  1.259105e+08
Horror     102.090909     7.909091  1.034649e+09
Mystery    119.083333     7.975000  1.256417e+09
Thriller   108.000000     7.800000  1.755074e+07
Western    148.250000     8.350000  5.822151e+07

In [97]:
genre.agg(['min','max'])

                              Series_Title  \
                                       min
Genre
Action                                 300
Adventure            2001: A Space Odyssey
Animation                            Akira
Biography                 12 Years a Slave
Comedy                (500) Days of Summer
Crime                         12 Angry Men
Drama                                 1917
Family          E.T. the Extra-Terrestrial
Fantasy       Das Cabinet des Dr. Caligari
Film-Noir                Shadow of a Doubt
Horror                               Alien
Mystery                          Dark City
Thriller                   Wait Until Dark
Western    Il buono, il brutto, il cattivo

                                               Released_Year       Runtime  \
                                           max           min   max     min
Genre
Action                                 Yôjinbô          1924  2019      45
Adventure                           Zombieland          1925    PG      88
Animation          Ôkami kodomo no Ame to Yuki          1940  2020      71
Biography                              Zerkalo          1928  2020      93
Comedy                Zindagi Na Milegi Dobara          1921  2020      68
Crime                        À bout de souffle          1931  2019      80
Drama                                Zwartboek          1925  2020      64
Family     Willy Wonka & the Chocolate Factory          1971  1982     100
Fantasy                              Nosferatu          1920  1922      76
Film-Noir                        The Third Man          1941  1949     100
Horror                               The Thing          1933  2017      71
Mystery                                Vertigo          1938  2012      96
Thriller                       Wait Until Dark          1967  1967     108
Western                 The Outlaw Josey Wales          1965  1976     132

               IMDB_Rating                    Director                    \
           max         min  max                    min               max
Genre
Action     321         7.6  9.0       Abhishek Chaubey       Zack Snyder
Adventure  228         7.6  8.6         Akira Kurosawa  Ömer Faruk Sorak
Animation  137         7.6  8.6            Adam Elliot   Yoshifumi Kondô
Biography  209         7.6  8.9             Adam McKay      Tom McCarthy
Comedy     188         7.6  8.6  Alejandro G. Iñárritu       Zoya Akhtar
Crime      229         7.6  9.2         Akira Kurosawa      Yavuz Turgul
Drama      242         7.6  9.3             Aamir Khan       Çagan Irmak
Family     115         7.8  7.8             Mel Stuart  Steven Spielberg
Fantasy     94         7.9  8.1            F.W. Murnau      Robert Wiene
Film-Noir  108         7.8  8.1       Alfred Hitchcock       John Huston
Horror     122         7.6  8.5     Alejandro Amenábar  William Friedkin
Mystery    138         7.6  8.4            Alex Proyas     Terry Gilliam
Thriller   108         7.8  7.8          Terence Young     Terence Young
Western    165         7.8  8.8         Clint Eastwood      Sergio Leone

                              Star1                   No_of_Votes           \
                                min               max         min      max
Genre
Action                   Aamir Khan      Yun-Fat Chow       25312  2303232
Adventure                Aamir Khan      Yves Montand       29999  1512360
Animation             Adrian Molina      Yôji Matsuda       25229   999790
Biography              Adrien Brody     Éric Toledano       27254  1213505
Comedy                   Aamir Khan  Ömer Faruk Sorak       26337   939631
Crime                    Ajay Devgn    Vincent Cassel       27712  1826188
Drama                    Abhay Deol    Çetin Tekindor       25088  2343110
Family                  Gene Wilder      Henry Thomas      178731   372490
Fantasy                 Max Schreck     Werner Krauss       57428    88794
Film-Noir           Humphrey Bogart     Teresa Wright       59556   158731
Horror              Anthony Perkins  Sigourney Weaver       27007   787806
Mystery    Bernard-Pierre Donnadieu       Vidya Balan       33982  1129894
Thriller             Audrey Hepburn    Audrey Hepburn       27733    27733
Western              Clint Eastwood       Henry Fonda       65659   688390

                 Gross              Metascore
                   min          max       min    max
Genre
Action          3296.0  936662225.0      33.0   98.0
Adventure      61001.0  874211619.0      41.0  100.0
Animation     128985.0  873839108.0      61.0   96.0
Biography      21877.0  753585104.0      48.0   97.0
Comedy          1305.0  886752933.0      45.0   99.0
Crime           6013.0  790482117.0      47.0  100.0
Drama           3600.0  924558264.0      28.0  100.0
Family       4000000.0  435110554.0      67.0   91.0
Fantasy    337574718.0  445151978.0       NaN    NaN
Film-Noir     449191.0  123353292.0      94.0   97.0
Horror         89029.0  298791505.0      46.0   97.0
Mystery      1035953.0  474203697.0      52.0  100.0
Thriller    17550741.0   17550741.0      81.0   81.0
Western      5321508.0   31800000.0      69.0   90.0

In [100]:
def foo(group):
    num = group['Series_Title'].str.startswith('A').sum()
    return num

In [101]:
genre.apply(foo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [106]:
def rank_movie(group):
    group['movie_rank'] = group['IMDB_Rating'].rank(ascending = False)
    return group

In [107]:
genre.apply(rank_movie)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              movie_rank
Genre
Action   2           1.0
         5           2.0
         8           3.5
         10          3.5
         13          6.0
...                  ...
Thriller 700         1.0
Western  12          1.0
         48          2.0
         115         3.0
         691         4.0

[1000 rows x 11 columns]

In [108]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [110]:
movies.groupby(['Director','Star1']).sum()

                                                  Series_Title Released_Year  \
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                    Runtime      Genre  IMDB_Rating  \
Director            Star1
Aamir Khan          Amole Gupte         165      Drama          8.4
Aaron Sorkin        Eddie Redmayne      129      Drama          7.8
Abdellatif Kechiche Léa Seydoux         180      Drama          7.7
Abhishek Chaubey    Shahid Kapoor       148     Action          7.8
Abhishek Kapoor     Amit Sadh           130      Drama          7.7
...                                     ...        ...          ...
Zaza Urushadze      Lembit Ulfsak        87      Drama          8.2
Zoya Akhtar         Hrithik Roshan      155     Comedy          8.1
                    Vijay Varma         154      Drama          8.0
Çagan Irmak         Çetin Tekindor      112      Drama          8.3
Ömer Faruk Sorak    Cem Yilmaz          127  Adventure          8.0

                                    No_of_Votes        Gross  Metascore
Director            Star1
Aamir Khan          Amole Gupte          168895    1223869.0        0.0
Aaron Sorkin        Eddie Redmayne        89896  853090410.0       77.0
Abdellatif Kechiche Léa Seydoux          138741    2199675.0       89.0
Abhishek Chaubey    Shahid Kapoor         27175  218428303.0        0.0
Abhishek Kapoor     Amit Sadh             32628    1122527.0       40.0
...                                         ...          ...        ...
Zaza Urushadze      Lembit Ulfsak         40382     144501.0       73.0
Zoya Akhtar         Hrithik Roshan        67927    3108485.0        0.0
                    Vijay Varma           31886    5566534.0       65.0
Çagan Irmak         Çetin Tekindor        78925  461855363.0        0.0
Ömer Faruk Sorak    Cem Yilmaz            56960  196206077.0        0.0

[898 rows x 8 columns]

In [132]:
movies[['Star1','Genre','Metascore']].groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values('Metascore',ascending=False)

                Star1    Genre  Metascore
230    Ellar Coltrane    Drama      100.0
329   Humphrey Bogart    Drama      100.0
360     James Stewart  Mystery      100.0
77        Bertil Guve    Drama      100.0
590      Orson Welles    Drama      100.0
..                ...      ...        ...
807    William Holden    Drama        NaN
812           Won Bin   Action        NaN
815              Yash   Action        NaN
826    Çetin Tekindor    Drama        NaN
828  Ömer Faruk Sorak   Comedy        NaN

[829 rows x 3 columns]

In [133]:
ipl = pd.read_csv('deliveries.csv')

In [136]:
ipl

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [141]:
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [149]:
ipl[ipl['batsman_runs']==6].groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).index[0]

'CH Gayle'

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
93,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,1,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
94,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
95,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,3,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
96,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,4,DJ Hooda,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
97,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,16,5,Yuvraj Singh,DJ Hooda,YS Chahal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [157]:
ipl[ipl['over']>15][(ipl[ipl['over']>15]['batsman_runs']==4)|(ipl[ipl['over']>15]['batsman_runs']==6)].groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
                 ...
KC Cariappa         1
Shivam Sharma       1
Shoaib Malik        1
T Curran            1
KJ Abbott           1
Name: batsman_runs, Length: 360, dtype: int64

In [161]:
ipl[ipl['batsman'] == 'V Kohli'].groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False)

bowling_team
Delhi Daredevils           763
Chennai Super Kings        749
Kolkata Knight Riders      675
Kings XI Punjab            636
Mumbai Indians             628
Sunrisers Hyderabad        509
Rajasthan Royals           370
Deccan Chargers            306
Gujarat Lions              283
Rising Pune Supergiants    188
Pune Warriors              128
Rising Pune Supergiant      83
Delhi Capitals              66
Kochi Tuskers Kerala        50
Name: batsman_runs, dtype: int64

In [180]:
ipl[ipl['batsman'] == 'Yuvraj Singh'].groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

83

In [184]:
def highest_run(s):
    high = ipl[ipl['batsman'] == s].groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]
    return high
s = 'Yuvraj Singh'
highest_run(s)

83

In [185]:

courses = pd.read_csv('courses.csv')
students = pd.read_csv('students.csv')
nov = pd.read_csv('reg-month1.csv')
dec = pd.read_csv('reg-month2.csv')
matches = pd.read_csv('matches.csv')
delivery = pd.read_csv('deliveries.csv')

In [186]:
courses

    course_id       course_name  price
0           1            python   2499
1           2               sql   3499
2           3     data analysis   4999
3           4  machine learning   9999
4           5           tableau   2499
5           6          power bi   1899
6           7          ms sxcel   1599
7           8            pandas   1099
8           9            plotly    699
9          10           pyspark   2499
10         11             Numpy    699
11         12               C++   1299

In [187]:
students

    student_id                name  partner
0            1       Kailash Harjo       23
1            2         Esha Butala        1
2            3      Parveen Bhalla        3
3            4         Marlo Dugal       14
4            5         Kusum Bahri        6
5            6  Lakshmi Contractor       10
6            7        Tarun Thaker        9
7            8      Radheshyam Dey        5
8            9   Nitika Chatterjee        4
9           10      Aayushman Sant        8
10          11  David Mukhopadhyay       20
11          12          Radha Dutt       19
12          13      Munni Varghese       24
13          14    Pranab Natarajan       22
14          15           Preet Sha       16
15          16        Elias Dodiya       25
16          17        Yasmin Palan        7
17          18     Fardeen Mahabir       13
18          19        Qabeel Raman       12
19          20       Hanuman Hegde       11
20          21          Seema Kota       15
21          22          Yash Sethi       21
22          23      Chhavi Lachman       18
23          24        Radhika Suri       17
24          25     Shashank D’Alia        2

In [188]:
nov

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3

In [189]:
dec

    student_id  course_id
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1

In [192]:
pd.concat([nov,dec])

    student_id  course_id
0           23          1
1           15          5
2           18          6
3           23          4
4           16          9
5           18          1
6            1          1
7            7          8
8           22          3
9           15          1
10          19          4
11           1          6
12           7         10
13          11          7
14          13          3
15          24          4
16          21          1
17          16          5
18          23          3
19          17          7
20          23          6
21          25          1
22          19          2
23          25         10
24           3          3
0            3          5
1           16          7
2           12         10
3           12          1
4           14          9
5            7          7
6            7          2
7           16          3
8           17         10
9           11          8
10          14          6
11          12          5
12          12          7
13          18          8
14           1         10
15           1          9
16           2          5
17           7          6
18          22          5
19          22          6
20          23          9
21          23          5
22          14          4
23          14          1
24          11         10
25          42          9
26          50          8
27          38          1